services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: connect4-app
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    stdin_open: true
    tty: true
